// Colors
$dark-blue: #1a355e;

$base-font-color: $dark-blue;
$accent-color: $dark-blue;
$callout-button-color: #006cad;
$footer-text-color: #999999;
$link-color: rgba(0, 109, 173, .8);

// Sizes
$container-width: 580px;
$base-font-size: 16px;

// Fonts
$main-font: "Helvetica", "Arial", sans-serif;
$secondary-font: 'Bitter', Georgia, 'Goudy Old Style', serif;
